<div class="row container-fluid">
  <header class="section-header mb-5" style="padding-top: 150px;">
      <h3 class="text-center">Create <span class="text-primary">Idea</span></h3>
  </header>
  <div class="container-fluid mb-5" style="margin-left: -10px; margin-right: -20px;">
    <%= render 'form', idea: @idea %>
  </div>
</div>