<!-- <!DOCTYPE html>
<html>
  <h1>Hi <%= @idea.user.full_name ||= @idea.user.username %>,</h1>

  <p>We wanted to inform you that the campaign 
    <strong><%= @idea.title %></strong> has met its expiration and is no longer active. 
    <%= link_to "View your project", idea_url(@idea), target: "_blank" %>.</p>
</html> -->