
    <h1>Welcome, <%= @user.full_name %></h1>
    <p>
      Congratulations! 
      You're almost set to start using Brainstaq.
      Just click the button below to validate your email address.
      <%= @url %>.
    </p>
    <p>Thanks for joining, we are excited to have you onboard!</p>
