<article class="card-body col-lg-12 mx-auto" style="max-width: 50%; padding-top: 150px;">
  <div class="section-header mb-5">
    <h3 class="mb-2 text-center">You're about to support <span class="text-primary"><%= @idea.title %> </span> Campaign 🎉</h3>
  </div>
  

  <% if user_signed_in? %>
    <div class="text-center">
      <%= render "form", idea: @idea %>
    </div>
  <% else %>
    <div class="p-6 text-center">
      <%= link_to "Sign in to support this idea", new_user_session_path, class: "btn btn1 text-white" %>
    </div>
  <% end %>
</article>
