// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



/*-=====================================================================
    Static Pages, Register Page, Trending Ideas & Discover Page Sections
=======================================================================*/
.site-section {
    padding: 4em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding-top: 5px;
        padding-bottom: 5px; } }
    .site-section.site-section-sm {
      padding: 4em 0; }
  
  
  .border-top {
    border-top: 1px solid #edf0f5 !important; }
  
  /* Blocks */
  .site-section {
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative; }
    @media (max-width: 991.98px) {
      .site-section {
        padding-top: 5px;
        padding-bottom: 5px; } }
  
  
  .idea {
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    top: 0;
    position: relative;
    }

    .idea .idea-inner-text {
      position: relative;
      padding-top: 35px !important;
    }
  
    .idea .idea-category {
      position: absolute;
      padding: 10px 15px;
      background: #007bff;
      color: #fff;
      top: -20px;
      right: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .idea .meta {
      font-size: .9rem;
      display: block;
      margin-bottom: .9rem;
    }
    
    .idea .meta span {
        margin-right: .5rem; 
    }
    
    .idea h3 {
      font-size: 1.15rem;
      color: #000;
    }
    
    .idea .stats {
      font-size: .9rem;
    }
    
    .idea:hover {
      top: -10px;
      -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
    }
  
  /*---====================================================
        Register Section
  =========================================================*/
  
  
  .btn-facebook {
      background-color: #405D9D;
      color: #fff;
      border-radius: 25px;
  }
  .btn-twitter {
      background-color: #42AEEC;
      color: #fff;
      border-radius: 25px;
  }
  
  .divider-text {
      position: relative;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .divider-text span {
      padding: 7px;
      font-size: 12px;
      position: relative;   
      z-index: 2;
  }
  .divider-text:after {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px solid #ddd;
      top: 55%;
      left: 0;
      z-index: 1;
  }
  
  
  /* About Us Section
  --------------------------------*/
  
  #about {
    background: #fff;
    padding: 60px 0;
  }
  
  #about .about-container .background {
    margin: 20px 0;
  }
  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  #about .about-container p {
    line-height: 26px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #007bff;
    transition: all 0.3s ease-in-out;
  }
  
  #about .about-container .icon-box .icon i {
    color: #007bff;
    font-size: 24px;
  }
  
  #about .about-container .icon-box:hover .icon {
    background: #007bff;
  }
  
  #about .about-container .icon-box:hover .icon i {
    color: #fff;
  }
  
  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  #about .about-container .icon-box .title a {
    color: #283d50;
    text-decoration: none;
  }
  
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 20px;
    font-size: 16px;
  }
  
  #about .about-extra {
    padding-top: 60px;
  }
  
  #about .about-extra h4 {
    font-weight: 600;
    font-size: 24px;
  }
  
  .fa-globe-africa:hover {
    color: #fff;
  }
  
  .fa-handshake:hover {
    color: #fff;
  }
  
  .fa-project-diagram:hover {
    color: #fff;
  }
  