

@media (max-width: 767px) {
  .suggestions {
    width: 520px !important;
    margin-left: 0px !important;
    margin-right: 50px !important;
    margin-top: 50px !important;
  }
  .about-container {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .background {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: 40px !important;
    margin-top: -40px !important;
  }
  .about-extra {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .contact-details {
    text-align: center;
  }
  .sd-title {
    padding-top: 25px !important;
  }
  .main-left-sidebar {
    width: 300px !important;
    padding-top: 0px !important;
  }
  .right-sidebar {
    width: 300px !important;
    margin-left: 5px !important;
    margin-right: 25px !important;
  }
  .main-ws-sec {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: -5px !important;
  }
  .user-data {
    width: 315px !important;
    margin-left: 0px !important;
    margin-right: 25px !important;
    margin-top: -50px !important;
  }
  .user_profile {
    width: 520px !important;
    margin-left: -7px !important;
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
  .widget {
    width: 315px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .form-box {
    width: auto !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .idea-form {
    width: auto !important;
    margin-left: 100px !important;
    margin-right: -50px !important;
  }
  .navbar-toggler {
    float: right !important;
    margin-right: 0px !important;
  }
  .alert {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    position: fixed;
    z-index: 999;
    font-weight: bold;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    p {
      font-size: 80%;
      margin: 15px 0;
    }
  }
}


@media (max-width: 576px) {
  .suggestions {
    width: 520px !important;
    margin-left: -5px !important;
    margin-right: -50px !important;
  }
  .about-container {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .background {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: 40px !important;
    margin-top: -40px !important;
  }
  .about-extra {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .contact-details {
    text-align: center;
  }
  .sd-title {
    padding-top: 25px !important;
  }
  .main-left-sidebar {
    width: 300px !important;
    padding-top: 0px !important;
  }
  .right-sidebar {
    width: 300px !important;
    margin-left: 5px !important;
    margin-right: 25px !important;
  }
  .main-ws-sec {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: -5px !important;
  }
  .user-data {
    width: 315px !important;
    margin-left: 0px !important;
    margin-right: 25px !important;
    margin-top: -50px !important;
  }
  .user_profile {
    width: 520px !important;
    margin-left: -7px !important;
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
  .widget {
    width: 315px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
  }
  .form-box {
    width: auto !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .idea-form {
    width: 520px !important;
    margin-left: 20px !important;
    margin-right: -50px !important;
  }
  .navbar-toggler {
    float: right !important;
    margin-right: 0px !important;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .alert {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    position: fixed;
    z-index: 999;
    font-weight: bold;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    p {
      font-size: 80%;
      margin: 15px 0;
    }
  }
}

@media (max-width: 490px) {
  .suggestions {
    width: 470px !important;
    margin-left: -5px !important;
    margin-right: -50px !important;
  }
  .about-container {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .background {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: 40px !important;
    margin-top: -40px !important;
  }
  .about-extra {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .contact-details {
    text-align: center;
  }
  .sd-title {
    padding-top: 25px !important;
  }
  .main-left-sidebar {
    width: 300px !important;
    padding-top: 0px !important;
  }
  .right-sidebar {
    width: 300px !important;
    margin-left: 5px !important;
    margin-right: 25px !important;
  }
  .main-ws-sec {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: -5px !important;
  }
  .user-data {
    width: 315px !important;
    margin-left: 0px !important;
    margin-right: 25px !important;
    margin-top: -50px !important;
  }
  .user_profile {
    width: 470px !important;
    margin-left: -7px !important;
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
  .widget {
    width: 315px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
  }
  .form-box {
    width: 470px !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
  }
  .idea-form {
    width: auto !important;
    margin-left: -10px !important;
    margin-right: -65px !important;
  }
  .navbar-toggler {
    float: right !important;
    margin-right: 0px !important;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .alert {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    position: fixed;
    z-index: 999;
    font-weight: bold;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    p {
      font-size: 80%;
      margin: 15px 0;
    }
  }
}

@media (max-width: 425px) {
  .suggestions {
    width: 405px !important;
    margin-left: -5px !important;
    margin-right: -50px !important;
  }
  .about-container {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .background {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: 40px !important;
    margin-top: -40px !important;
  }
  .about-extra {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .contact-details {
    text-align: center;
  }
  .sd-title {
    padding-top: 25px !important;
  }
  .main-left-sidebar {
    width: 300px !important;
    padding-top: 0px !important;
  }
  .right-sidebar {
    width: 300px !important;
    margin-left: 5px !important;
    margin-right: 25px !important;
  }
  .main-ws-sec {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: -5px !important;
  }
  .user-data {
    width: 315px !important;
    margin-left: 0px !important;
    margin-right: 25px !important;
    margin-top: -50px !important;
  }
  .user_profile {
    width: 410px !important;
    margin-left: -7px !important;
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
  .widget {
    width: 315px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
  }
  .form-box {
    width: 405px !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
  }
  .idea-form {
    width: auto !important;
    margin-left: -10px !important;
    margin-right: -65px !important;
  }
  .navbar-toggler {
    float: right !important;
    margin-right: 0px !important;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .alert {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    position: fixed;
    z-index: 999;
    font-weight: bold;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    p {
      font-size: 80%;
      margin: 15px 0;
    }
  }
}

@media (max-width: 410px) {
  .suggestions {
    width: 390px !important;
    margin-left: -5px !important;
    margin-right: -50px !important;
  }
  .about-container {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .background {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: 40px !important;
    margin-top: -40px !important;
  }
  .about-extra {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .contact-details {
    text-align: center;
  }
  .sd-title {
    padding-top: 25px !important;
  }
  .main-left-sidebar {
    width: 300px !important;
    padding-top: 0px !important;
  }
  .right-sidebar {
    width: 300px !important;
    margin-left: 5px !important;
    margin-right: 25px !important;
  }
  .main-ws-sec {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: -5px !important;
  }
  .user-data {
    width: 315px !important;
    margin-left: 0px !important;
    margin-right: 25px !important;
    margin-top: -50px !important;
  }
  .user_profile {
    width: 390px !important;
    margin-left: -7px !important;
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
  .widget {
    width: 315px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
  }
  .form-box {
    width: 390px !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
  }
  .idea-form {
    width: auto !important;
    margin-left: -10px !important;
    margin-right: -65px !important;
  }
  .navbar-toggler {
    float: right !important;
    margin-right: 0px !important;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .alert {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    position: fixed;
    z-index: 999;
    font-weight: bold;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    p {
      font-size: 80%;
      margin: 15px 0;
    }
  }
}

@media (max-width: 375px) {
  .suggestions {
    width: auto !important;
    margin-left: -5px !important;
    margin-right: -50px !important;
  }
  .about-container {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .background {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: 40px !important;
    margin-top: -40px !important;
  }
  .about-extra {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .contact-details {
    text-align: center;
  }
  .sd-title {
    padding-top: 25px !important;
  }
  .main-left-sidebar {
    width: 300px !important;
    padding-top: 0px !important;
  }
  .right-sidebar {
    width: 300px !important;
    margin-left: 5px !important;
    margin-right: 25px !important;
  }
  .main-ws-sec {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: -5px !important;
  }
  .user-data {
    width: 315px !important;
    margin-left: 0px !important;
    margin-right: 25px !important;
    margin-top: -50px !important;
  }
  .user_profile {
    width: 360px !important;
    margin-left: -7px !important;
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
  .widget {
    width: 315px !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
  }
  .form-box {
    width: 360px !important;
    margin-right: 5px !important;
    margin-left: 0px !important;
  }
  .idea-form {
    width: auto !important;
    margin-left: -10px !important;
    margin-right: -65px !important;
  }
    .navbar-toggler {
    float: right !important;
    margin-right: 0px !important;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .alert {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    position: fixed;
    z-index: 999;
    font-weight: bold;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    p {
      font-size: 80%;
      margin: 15px 0;
    }
  }
}

@media (max-width: 360px) {
  .suggestions {
    width: auto !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
    margin-top: 0px !important;
  }
  .about-container {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .background {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: 40px !important;
    margin-top: -40px !important;
  }
  .about-extra {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .contact-details {
    text-align: center;
  }
  .sd-title {
    padding-top: 25px !important;
  }
  .usy-name h3 {
    font-size: 12px !important;
  }
  .usy-name span {
    font-size: 10px !important;
  }
  .epi-sec li {
    font-size: 10px !important;
  }
  .job_descp h3 {
    font-size: 14px !important;
  }
  .job_descp span {
    font-size: 10px !important;
  }
  .main-left-sidebar {
    width: auto !important;
    padding-top: 0px !important;
  }
  .right-sidebar {
    width: auto !important;
    margin-left: -10px !important;
    margin-right: -15px !important;
  }
  .main-ws-sec {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: -5px !important;
  }
  .user-data {
    width: auto !important;
    margin-left: 5px !important;
    margin-right: 10px !important;
    margin-top: -50px !important;
  }
  .user_profile {
    width: auto !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
    margin-top: -50px !important;
  }
  .idea-img {
    width: auto !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
  .widget {
    width: auto !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
  }
  .count span {
    font-size: 20px !important;
  }
  .count p {
    font-size: 15px !important;
  }
  .idea-form {
    width: auto !important;
    margin-left: -10px !important;
    margin-right: -65px !important;
  }
  .navbar-toggler {
    float: right !important;
    margin-right: 0px !important;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .form-box {
    width: 330px !important;
    margin-left: 60px !important;
    margin-right: 15px !important;
  }
  .card-text {
    margin-left: 5px;
  }
  .alert {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    position: fixed;
    z-index: 999;
    font-weight: bold;
    width: 200px;
    margin-left: -110px;
    text-align: center;
    p {
      font-size: 80%;
      margin: 15px 0;
    }
  }
}

@media (max-width: 324px) {
  .suggestions {
    width: auto !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
    margin-top: 0px !important;
  }
  .about-container {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .background {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: 40px !important;
    margin-top: -40px !important;
  }
  .about-extra {
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
  }
  .contact-details {
    text-align: center;
  }
  .sd-title {
    padding-top: 25px !important;
  }
  .usy-name h3 {
    font-size: 12px !important;
  }
  .usy-name span {
    font-size: 10px !important;
  }
  .epi-sec li {
    font-size: 10px !important;
  }
  .job_descp h3 {
    font-size: 14px !important;
  }
  .job_descp span {
    font-size: 10px !important;
  }
  .main-left-sidebar {
    width: auto !important;
    padding-top: 0px !important;
  }
  .right-sidebar {
    width: auto !important;
    margin-left: -10px !important;
    margin-right: -15px !important;
  }
  .main-ws-sec {
    width: auto !important;
    margin-left: -30px !important;
    margin-right: -5px !important;
  }
  .user-data {
    width: auto !important;
    margin-left: 5px !important;
    margin-right: 10px !important;
    margin-top: -50px !important;
  }
  .idea-img {
    width: auto !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
  .widget {
    width: auto !important;
    margin-left: 5px !important;
    margin-right: 15px !important;
  }
  .count span {
    font-size: 20px !important;
  }
  .count p {
    font-size: 15px !important;
  }
  .idea-form {
    width: 300 !important;
    margin-left: -10px !important;
    margin-right: -65px !important;
  }
  .navbar-toggler {
    float: right !important;
    margin-right: 0px !important;
  }
  .search-form {
    margin-bottom: 10px;
  }
  .form-box {
    width: 300px !important;
    margin-left: 60px !important;
    margin-right: 10px !important;
  }
  .card-text {
    margin-left: 5px;
  }
  .alert {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    position: fixed;
    z-index: 999;
    font-weight: bold;
    width: 200px;
    margin-left: -110px;
    text-align: center;
    p {
      font-size: 80%;
      margin: 15px 0;
    }
  }
}