<!--=========================
       Counter Section
  ============================-->
  <section id="why-us" class="wow fadeIn bg-light mx-auto">
    <div class="container-fluid">
      
      <header class="section-header mt-5">
        <h3>Brainstaq in<span class="text-primary"> Numbers</span></h3>
        <p style="font-size: 18px;">With a daily increase in ideas shared, Brainstaq sets 
          the pace in empowering innovation and creativity in Africa.
        </p>
      </header>
    </div>
    <div class="container mt-3">
      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up"><%= Idea.count %></span>
          <p style="font-size: 22px; font-weight: bold;">Ideas Shared</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up"><%= User.count %></span>
          <p style="font-size: 22px; font-weight: bold;">Brainers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up"><%=Idea.active.count %></span>
          <p style="font-size: 22px; font-weight: bold;">Campaigns</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">0</span>
          <p style="font-size: 22px; font-weight: bold;">Projects Funded</p>
        </div>
      </div>
    </div>
  </section>