<!--=========================
       Counter Section
  ============================-->
  <section id="why-us" class="wow fadeIn bg-light mx-auto">
    <div class="container-fluid">
      
      <header class="section-header mt-5">
        <h3>Brainstaq in<span class="text-primary"> Numbers</span></h3>
        <p style="font-size: 18px;">With a daily increase in ideas shared, Brainstaq sets 
          the pace in empowering innovation and creativity in Africa.
        </p>
      </header>
    </div>
    <div class="container mt-3">
      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span style="font-size: 36px;" data-toggle="counter-up"><%= Idea.count %></span>
          <p style="font-size: 20px;">Ideas Shared</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span style="font-size: 36px;" data-toggle="counter-up"><%= User.count %></span>
          <p style="font-size: 20px;">Brainers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span style="font-size: 36px;" data-toggle="counter-up"><%=Idea.active.count %></span>
          <p style="font-size: 20px;">Campaigns</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span style="font-size: 36px;" data-toggle="counter-up"><%= number_to_currency(Donation.sum(:amount)/100, :unit => "₦") %></span>
          <p style="font-size: 20px;">Funds Raised</p>
        </div>
      </div>
    </div>
  </section>