<!--==========================
    Call To Action Section
  ============================-->
  <section id="call-to-action" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Join the Movement</h3>
          <p class="cta-text" style="font-size: 18px;">
            Share, validate and market your ideas 
            and projects, and attract cofounders and investors
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <%= link_to 'Discover Innovative Ideas', ideas_path, class: 'btn rounded-pill', style: "color: #000; background-color: #fff !important;" %>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->