<!--==========================
  Frequently Asked Questions Section
============================-->
<section id="faq" style="margin-bottom: -100px;">
  <div class="container">
    <header class="section-header">
      <h3>Frequently Asked<span class="text-primary"> Questions</span></h3>
      <p style="font-size: 18px;">Still having uncertainties? Find simple answers to those 
        questions that no one asks
      </p>
    </header>
    <br><br><br><br><br><br><br><br><br><br><br><br>

    <ul id="faq-list" class="wow fadeInUp">
      <li>
        <a data-toggle="collapse" href="#faq2" class="collapsed">What is Brainstaq? <i class="ion-android-remove"></i></a>
        <div id="faq2" class="collapse" data-parent="#faq-list">
          <p>
            Brainstaq is an online community to share, validate, and market your ideas, projects, 
            insights and inspirations, and attract cofounders and investors by engaging the power of the 
            crowd. Brainstaq is great for African entrepreneurs, startups, small businesses, 
            organizations, and more - and for the sponsors and backers who want to support 
            and collaborate with them. 
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq3" class="collapsed">Can I use Brainstaq for free? <i class="ion-android-remove"></i></a>
        <div id="faq3" class="collapse" data-parent="#faq-list">
          <p>
            You can set up an account for absolutely free. However, there are fees to accept funding. 
            If you want to do crowdfunding and generate funds, you need to pay a certain 
            commission on every donation received. 
            Payment processing fees are determined by the providers we use. 
            At the moment, Brainstaq only supports Paystack. 
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq4" class="collapsed">Does Brainstaq work for my country? <i class="ion-android-remove"></i></a>
        <div id="faq4" class="collapse" data-parent="#faq-list">
          <p>
            Brainstaq is designed for Africans. Although, it is currently only available in Nigeria. 
            People can contribute from anywhere by credit card, with donations denominated in the 
            currency of the creator. Payouts work everywhere our payment provider, Paystack serves. 
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq5" class="collapsed">How is Brainstaq different from other platforms? <i class="ion-android-remove"></i></a>
        <div id="faq5" class="collapse" data-parent="#faq-list">
          <p>
            Brainstaq is different. It's fully transparent (you can see where money comes from and 
            where it goes), and it is designed for African entrepreneurs and encourages collaboration. 
          </p>
        </div>
      </li>
 
      <li>
        <a data-toggle="collapse" href="#faq6" class="collapsed">How much does it cost? <i class="ion-android-remove"></i></a>
        <div id="faq6" class="collapse" data-parent="#faq-list">
          <p>
            Pricing is based on a small percentage commission on the total amount of funds raised 
            through the platform, which is 10%.
          </p>
        </div>
      </li>

      <li>
        <a data-toggle="collapse" href="#faq7" class="collapsed">How can I contribute to Brainstaq? <i class="ion-android-remove"></i></a>
        <div id="faq7" class="collapse" data-parent="#faq-list">
          <p>
            You can contribute money, suggestions and/or your 
            expertise as a member of Team Brainstaq. And we'd really love it if you shared your 
            own idea and contributed by growing the community!
          </p>
  
          <p>For more info about how you can contribute to Brainstaq, send an email 
            to:<%= mail_to 'brainstaq@gmail.com' %>.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section><!-- #faq -->